Screen {
  align: center middle;
}

#CardText {
  text-align: center;
}

#CardNumLabel {
  dock: bottom;
  text-align: right;
  offset: 0 -1;
}

#MemorizedPercentLabel {
  dock: bottom;
  text-align: left;
  offset: 0 -1;
  /* align: right middle; */
}
